@page "/"
@using TripleG3.NoChat.Web.Model
@inject ChatManager ChatManager
@rendermode InteractiveServer
@implements IDisposable

<style>
    hr {
        border-top: 8px solid #bbb;
        border-radius: 5px;
    }
</style>

<PageTitle>NoChat</PageTitle>
<h1>NoChat ;)</h1>
<hr />

@if (hasJoined)
{
    <button class="btn btn-primary" disabled=@(!hasJoined) @onclick=@LeaveChat>Dip Out</button>
    <hr />
    @foreach (var handle in Users)
    {
        @handle
    }
    <hr />
    <label for="message">Message</label>
    <InputText id="message" style="width: 100%; border-radius: 7px; padding:7px;" disabled=@(!hasJoined) @bind-Value="Message" @onkeyup=MessageKeyPressed />
    <hr />

    <div style="background-color:white; border-radius: 7px; padding:7px;">
        <div class="row align-items-start">
            @foreach (var message in Messages.TakeLast(20))
            {
                <div class="row">
                    <div class="col-2">
                        @message.Handle
                    </div>
                    <div class="col-2"></div>
                    <div class="col-8">
                        @message.Message
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row align-items-start">
            <div class="row">
                <div class="col">
                    <label for="key">Key</label>
                    <InputText style="width: 100%; border-radius: 7px; padding:7px;" id="key" disabled=@hasJoined @bind-Value="Key" />
                </div>
                <div class="col">
                    <label for="handle">Handle</label>
                    <InputText style="width: 100%; border-radius: 7px; padding:7px;" disabled=@hasJoined id="handle" @bind-Value="Handle" />
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" disabled=@hasJoined @onclick=JoinChat>Join</button>
                </div>
            </div>
        </div>
    </div>
}